@import "Style/normalize.css"; /* import normalize css fileya */

:root {
  --global-background-color: #fada73;
  --global-background-color-dark: #ffb63b;
  --global-text-color: #3b3735;

  --global-dark: #3b3735;
  --global-cta: #e76f51;
}

@font-face {
  font-family: atten-regular;
  src: url("Fonts/AttenRoundNewRegular.otf");
}
@font-face {
  font-family: atten-bold;
  src: url("Fonts/AttenRoundNewBold.otf");
}
@font-face {
  font-family: atten-medium;
  src: url("Fonts/AttenRoundNewMedium.otf");
}
@font-face {
  font-family: atten-extra-bold;
  src: url("Fonts/AttenRoundNewExtraBold.otf");
}

html {
  font-size: 16px;
  font-family: atten-regular;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: atten-extra-bold;
}

h3 {
  color: var(--global-text-color);
  font-size: 2rem;
  font-family: atten-medium;
}
h4 {
  color: var(--global-text-color);
  font-size: 1.75rem;
  font-family: atten-medium;
}
h5 {
  color: var(--global-cta);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: atten-extra-bold;
}

p {
  color: var(--global-text-color);
  font-family: atten-regular;
  font-size: 1.2rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-header__homepage {
  background-image: linear-gradient(
      rgba(59, 55, 53, 0.5),
      rgba(59, 55, 53, 0.5)
    ),
    url("Images/Headers/header_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  border-radius: 0px 0px 100px 100px;
  color: #3b3735;
}

.c-app__nav {
  display: none;
}

.c-header__logo {
  width: 2rem;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 29px;
}

.c-header__moto > h1 {
  margin: 0.5rem;
}

.c-header__moto {
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-menu-card {
  padding: 1rem 1rem;
  background-color: white;
  width: 272px;
  height: 240px;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.c-menu-card__row {
  margin-top: -8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-menu-card__item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-menu-card__image {
  /* height: 100%; */
}
.c-menu-card__title {
  text-align: center;
  margin: 0;
  margin-top: 1.5rem;
  font-size: 2.375rem;
  max-width: 182px;
}

.c-homepage-divider {
  margin-top: 5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-homepage-divider > h4 {
  margin: 0.5rem;
}

.c-kijker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 3rem;
  background-color: var(--global-cta);
}

.c-kijker__icon {
  max-height: 3rem;
  max-width: 3rem;
}

.c-kijker-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-row__footer {
  padding-bottom: 24px;
  background-color: var(--global-background-color-dark);
  padding: 24px 24px 0;
  display: flex;
  flex-direction: column;
  border-radius: 100px 100px 0px 0px;
}
.c-footer-title {
  text-align: center;
}
.c-footer-row {
  display: flex;
  width: 100%;
}

.c-footer-row__item {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}

.c-footer-row__item > p {
  margin: 0;
  margin-bottom: 0.75rem;
}

.c-footer-social {
  height: 48px;
  width: 48px;
}

.c-footer-social-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.c-footer-row__sponsor {
  /* max-height: 80px; */
  height: auto;
  width: 50%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.c-footer-row--sponsors {
  max-height: 25%;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}

.c-button {
  color: white;
  font-family: atten-extra-bold;
  font-size: 20px;
  background-color: var(--global-cta);
  border-radius: 64px;
  padding: 24px;
  margin-bottom: 16px;
}

.c-button:active {
  opacity: 0.8;
}

.c-blogpostcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 272px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.c-blogpostcard > h5 {
  margin: 0;
  margin-bottom: 8px;
}

.c-blogpostcard__img {
  width: 238px;
  height: auto;
  border-radius: 10px;
}

.c-readmore {
  margin-top: 8px;
  color: var(--global-cta);
}

/* mobile nav */

.c-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s;
}

.c-mobile-nav__body {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--global-cta);
}

.c-mobile-nav__header {
  padding: 16px;
  text-align: right;
}

.c-nav-trigger {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 12px;
  padding: 15px;
  background-color: var(--global-background-color-dark);
}
.c-nav {
  font-size: 14px;
  line-height: 24px;
}
.o-list {
  list-style: none;
  padding: 0;
}
.c-nav__list {
  display: block;
  text-align: center;
}

.has-mobile-nav .c-mobile-nav {
  opacity: 1;
  pointer-events: auto;
}

.c-header {
  background-color: #fff;
}

@media (min-width: 768px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_tablet.png");
  }
}
@media (min-width: 992px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_desk.png");
    border-radius: 0px 0px 200px 200px;
  }
}
@media (min-width: 1200px) {
}
