@import "Style/normalize.css"; /* import normalize css fileya */

:root {
  --global-background-color: #fada73;
  --global-background-color-dark: #ffb63b;
  --global-text-color: #3b3735;

  --global-dark: #3b3735;
  --global-cta: #e76f51;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-header__homepage {
  background-image: linear-gradient(
      rgba(59, 55, 53, 0.5),
      rgba(59, 55, 53, 0.5)
    ),
    url("Images/Headers/header_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 0px 0px 100px 100px;
  color: #3b3735;
}

.c-app__nav {
  display: none;
}

.c-header__logo {
  width: 2rem;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 29px;
}

@media (min-width: 768px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_tablet.png");
  }
}
@media (min-width: 992px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_desk.png");
    height: 100vh;
    border-radius: 0px 0px 200px 200px;
  }
}
@media (min-width: 1200px) {
}
