@import "Style/normalize.css"; /* import normalize css fileya */

:root {
  --global-background-color: #fada73;
  --global-background-color-dark: #ffb63b;
  --global-text-color: #3b3735;

  --global-dark: #3b3735;
  --global-cta: #e76f51;
}

@font-face {
  font-family: atten-regular;
  src: url("Fonts/AttenRoundNewRegular.otf");
}
@font-face {
  font-family: atten-bold;
  src: url("Fonts/AttenRoundNewBold.otf");
}
@font-face {
  font-family: atten-medium;
  src: url("Fonts/AttenRoundNewMedium.otf");
}
@font-face {
  font-family: atten-extra-bold;
  src: url("Fonts/AttenRoundNewExtraBold.otf");
}

html {
  font-size: 16px;
  font-family: atten-regular;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: atten-extra-bold;
}

h3 {
  color: var(--global-text-color);
  font-size: 2rem;
  font-family: atten-medium;
}
h4 {
  color: var(--global-text-color);
  font-size: 1.75rem;
  font-family: atten-medium;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.c-header__homepage {
  background-image: linear-gradient(
      rgba(59, 55, 53, 0.5),
      rgba(59, 55, 53, 0.5)
    ),
    url("Images/Headers/header_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  border-radius: 0px 0px 100px 100px;
  color: #3b3735;
}

.c-app__nav {
  display: none;
}

.c-header__logo {
  width: 2rem;
  height: 50px;
  position: absolute;
  top: 40px;
  left: 29px;
}

.c-header__moto > h1 {
  margin: 0.5rem;
}

.c-header__moto {
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-menu-card {
  padding: 1rem 1rem;
  background-color: white;
  /* max-width: 281px; */
  width: 17rem;
  height: 15rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
}

.c-menu-card__row {
  margin-top: -8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-menu-card__item {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.c-menu-card__image {
  /* height: 100%; */
}
.c-menu-card__title {
  text-align: center;
  margin: 0;
  margin-top: 1.5rem;
  font-size: 2.375rem;
  max-width: 182px;
}

.c-homepage-divider {
  margin-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.c-homepage-divider > h4 {
  margin: 0.5rem;
}

.c-kijker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 3rem;
  background-color: var(--global-cta);
}

.c-kijker__icon {
  max-height: 3rem;
  max-width: 3rem;
}

@media (min-width: 768px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_tablet.png");
  }
}
@media (min-width: 992px) {
  .c-header__homepage {
    background-image: linear-gradient(
        rgba(59, 55, 53, 0.5),
        rgba(59, 55, 53, 0.5)
      ),
      url("Images/Headers/header_desk.png");
    height: 100vh;
    border-radius: 0px 0px 200px 200px;
  }
}
@media (min-width: 1200px) {
}
